<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanloja.dao.UserDAO">
	<sql id = "userColumns">
		userId,
		name,
		imgUrl,
		email,
		password,
		phoneNumber,
		deleteYn,
		insertTime,
		updateTime,
	</sql>
	<insert id = "insertUser" parameterType="UserDTO">
		INSERT INTO user(
			<include refid="userColumns"/>
		) VALUES (
			 #{userId}
			,#{name}
			,#{imgUrl}
			,#{email}
			,#{password}
			,#{phoneNumber}
			,IFNULL(#{deleteYn}, 'N')
			,NOW()
			,NULL
			,NULL
		)
	</insert>
</mapper>
	